<body>
	<h1>The Daily Christorian</h1>
	<h2>Article of the week</h2>
	<img src="{{ data.week.picture }}"></img>
	<p> {{ data.week.title }} {{ data.week.text }} <a href="{{ data.week.link }}">(more...)</a></p>

	<h2>This day in Christory</h2>
	<img src="{{ data.day.picture }}"></img>
	<p> {{ data.day.text }} <a href="{{ data.day.link }}">(more...)</a></p>

	<h2>News</h2>
	<p>Chris is now in jail for alleged incest. His next court hearing is to be 3 February 2022.</p>
	<ul>
		{% for date in data.dates %}
			<li>{{date}}</li>
		{% endfor %}
	</ul>
	<h2>Sighting counter</h2>
	<p>{{ data.counter.spotted }} days since Chris was last spotted.</p>
	<h2>Social media counter</h2>
	<p>It has been {{ data.counter.socialmedia }} days since Chris posted on social media.</p>

	<h2>Quote of the Now</h2>
	<p>{{ data.quote }}</p>
	<p>- {{ data.quoted }}</p>
	<p>&#9889;&#128153;&#9889; ZAP TO THE EXTREME! &#9889;&#128153;&#9889;</p>
</body>
